.page {
  background-color: rgb(150, 228, 254);
  margin: 0;
  padding: 10px;
}

.header__image {
  max-width: 90px;
  position: absolute;
  left: 350px;
  top: 50px;
}

.header__title {
  text-align: center;
}

.content__header {
  border-bottom: 1px solid white;
}

.content_header-text {
  text-align: center;
  border-bottom: 1px solid #0000;
}
